.assetGridPages
	width 36% /* this is a hack. I have no idea why this is not getting its own line */
	margin-top 20px
	margin-bottom 30px
	margin-left 15px
	
.pageNumber
	border 1px solid rgba(200, 200, 200, .75)
	display inline-block 
	padding 8px 20px
	cursor pointer
	font-size 26px

.pageNumber.active
	background-color #4bab49

.pageNumber:hover:not(.active)
	background-color #ddd