.navLinks
	float right
	margin-top 48px
	
#mobileNavbar
	display none

#regularNavbar
	width 100%
	display inline-block
	
@media(max-width: 1024px)
	#regularNavbar
		display none
	#mobileNavbar
		display block
	.navbar
		margin-bottom 10px