.navLinks
	float right
	margin-top 48px

.logo
	height 135px
	padding-top 10px
	
#mobileNavbar
	display none
	
@media(max-width: 1024px)
	#regularNavbar
		display none
	#mobileNavbar
		display block
	.navbar
		margin-bottom 10px