body{
	font-family: 'BenchNine', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

p{
    margin: 0;
}

#page-header {
    padding: 0.35em 0;
}

#page-title {
    min-height: 45px;
    text-transform: uppercase;
    text-align: center;
    color: #4bab49;
    font-size: 2em;
    margin: 0;
    font-family: 'BenchNine', sans-serif;
}

.faded-line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:#d6d6d6;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 420, from(#d6d6d6), to(#fff));
}