body{
	font-family: 'BenchNine', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

p{
    margin: 0;
}

a{
    color: #4bab49;
    text-decoration: none;
}

a:hover{
    color: #0E8044;
}

#page-header {
    padding: 0.35em 0;
}

@media(max-width: 1024px){
    #page-header{
        padding: 1.55em 0;
    }
}

#page-title {
    min-height: 45px;
    text-transform: uppercase;
    text-align: center;
    color: #4bab49;
    font-size: 2em;
    margin: 0;
    font-family: 'BenchNine', sans-serif;
}

.faded-line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:#d6d6d6;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 420, from(#d6d6d6), to(#fff));
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #4bab49 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #4bab49 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #4bab49 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #4bab49 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #4bab49 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #4bab49;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}